var subs = {
  sub:function(_str,_num){
    if(_str==null||_str==undefined||!_str) return '';
    return _str.substring(0,_num);
  },
  rank:function(_str){
    _str = _str.substring(0,1);
    switch(_str){
      case '日':
        return '日排名第一';
        break;
      case '周':
        return '周排名第一';
        break;
      case '月':
        return '月排名第一';
        break;
      default:
        break;
    }
  },
  status:function(_str){
    switch (_str) {
      case 1:
        return '已通过';
        break;
      case 2:
        return '待审核';
        break;
      case 3:
        return '未通过';
        break;
      default:
        break;
    }
  },
  targetType: function (_str) {
    switch (_str) {
      case 1:
        return '日排名';
        break;
      case 2:
        return '周排名';
        break;
      case 3:
        return '月排名';
        break;
      default:
        break;
    }
  },
  targetRank: function (_str) {
    switch (_str) {
      case 1:
        return '第一';
        break;
      case 2:
        return '第二';
        break;
      case 3:
        return '第三';
        break;
      default:
        break;
    }
  },
}

module.exports={
  sub:subs.sub,
  rank:subs.rank,
  status:subs.status,
  targetType: subs.targetType,
  targetRank: subs.targetRank
}