var subs = {
  sub:function(_str,_num){
    if(_str==null||_str==undefined||!_str) return '';
    if(_str.length > _num){
      return (_str.substring(0, _num)+"...");
    }else{
      return _str;
    }
  },
  rank:function(_str){
    _str = _str.substring(0,1);
    switch(_str){
      case '日':
        return '日排名第一';
        break;
      case '周':
        return '周排名第一';
        break;
      case '月':
        return '月排名第一';
        break;
      default:
        break;
    }
  },
  status:function(_str){
    switch (_str) {
      case 1:
        return '待审核';
        break;
      case 2:
        return '已通过';
        break;
      case 3:
        return '未通过';
        break;
      default:
        break;
    }
  },
  targetType: function (_str) {
    switch (_str) {
      case 1:
        return '日排名';
        break;
      case 2:
        return '周排名';
        break;
      case 3:
        return '月排名';
        break;
      default:
        break;
    }
  },
  targetRank: function (_str) {
    switch (_str) {
      case 1:
        return '第一';
        break;
      case 2:
        return '第二';
        break;
      case 3:
        return '第三';
        break;
      default:
        break;
    }
  },
  targetStatus:function(isReceive,progress){
    if (isReceive ==1){
        return "领取";
    } else if (isReceive == 0 && progress >= 100){
        return "待领取";
      }else{
        return "未完成";
      }
  },
  targetclass:function(_is,_isres){
    console.log(_is);
    console.log(_isres);
    if (_is == 1){
      if(_isres==1){
        return 'target-orange';
      }else{
        return 'target-un-orange';
      }
    }else{
      if (_isres == 1) {
        return 'target-button';
      } else {
        return 'target-un-button';
      }
    }
  },
  targcolor:function(color){
    if(color==1){
      return 'orange-color';
    }else{
      return 'hight-color'
    }
  },
  colorsss:function(color){
    if (color == 1) {
      return '#ff7e28';
    } else {
      return '#5398ff'
    }
  },
  convertimgsrc:function(_str){
    console.log(_str+'这里是接收到的地址');
    if (_str.indexOf("360buyimg") != -1){
      return _str.replace("https://qypyp.xiaohuibang.com","");
    } else if (_str.indexOf('bangxuan.oss-cn-shenzhen.aliyuncs.com')!=-1){
      return _str.replace("https://qypyp.xiaohuibang.com", "");
    } else if (_str.indexOf('img.alicdn.com') != -1){
      return _str.replace("https://qypyp.xiaohuibang.com", "");
    }else{
      return _str;
    }
  },
  rankType: function (_str) {
    switch (_str) {
      case 1:
        return '日榜';
        break;
      case 2:
        return '周榜';
        break;
      case 3:
        return '月榜';
        break;
      default:
        break;
    }
  },
}

module.exports={
  sub:subs.sub,
  rank:subs.rank,
  status:subs.status,
  targetType: subs.targetType,
  targetRank: subs.targetRank,
  targetStatus: subs.targetStatus,
  targetclass: subs.targetclass,
  targcolor: subs.targcolor,
  colorsss: subs.colorsss,
  convertimgsrc: subs.convertimgsrc,
  rankType:subs.rankType
}